{% extends "base.html" %}
{% load static %}


{% block content %}


<!--main content start-->
<section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-lg-9 main-chart">
            <div class="border-head">
                <center><h3>Comunicados</h3></center>
            </div>
            {% if usuario == "Jefactura ISC" %}
            <center> <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Subir comunicado</button></center>
            {% endif %}
            <div>
              <h1>Mis comunicados</h1><br><br>
             
              
            </div>
         </div>
      </div>

      <!-- <div class="row">
        <div style="background-color:#0080005e;" class="col-sm-5 col-md-6">
          <h1>Enviados</h1>
        </div>

        <div>
          
        </div>

        <div style="background-color:#d5e83694;" class="col-sm-5 col-md-6">
          <h1>Recibidos</h1>
    
        </div>
      </div><br><br> -->
   
     
      {% if usuario == "Jefactura ISC" %}
      <div class="row">
        <div class="col-sm-5 col-md-12">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Documento</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha de creación</th>
                <th scope="col">Opciones</th>

              </tr>
            </thead>
            <tbody>
              {% for comunicado in comunicados %}
              <tr>
                <td>{{comunicado.titulo}}</td>
        
                <td>{{comunicado.documento}}</td>
                
                <td>{{comunicado.descripcion}}</td>
                
                <td>{{comunicado.fecha_creacion}}</td>
                <td>
                  <button text="Hola" type="button" class="btn btn-primary"><i class="material-icons">create</i></button>
                  <button type="button" class="btn btn-danger "><i class="material-icons">delete_sweep</i></button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- <div class="col-sm-5 col-md-6">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Documento</th>
                <th scope="col">Opciones</th>

              </tr>
            </thead>
            <tbody>
              {% for comunicado in comunicados %}
              <tr>
                <td>{{comunicado.titulo}}</td>
                <td>{{comunicado.documento}}</td>
                <td>
                  <a href="{{comunicado.documento.url}}" download="" type="button" class="btn btn-primary"> <i class="material-icons">archive</i></a>
               
                 
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div> -->
      </div>
      {% elif usuario == "Secretaria" or "Docentes" or "Jefactura de Docencia" or "Jefactura de Vinculacion" or "Jefactura de Investigacion" or "Jefactura de Laboratorio" %}

      <div class="row">
        <div class="col-sm-5 col-md-12">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Documento</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha</th>
                <th scope="col">Opciones</th>

              </tr>
            </thead>
            <tbody>
              {% for comunicado in comunicados_secretaria %}
              <tr>
                <td>{{comunicado.comunicado.titulo}}</td>
        
                <td>{{comunicado.comunicado.documento}}</td>
                
                <td>{{comunicado.comunicado.descripcion}}</td>
                
                <td>{{comunicado.comunicado.fecha_creacion}}</td>
                <td>
                  <a href="{{comunicado.comunicado.documento.url}}" download="" type="button" class="btn btn-primary"> <i class="material-icons">archive</i></a>
                  <!-- <a href="{{comunicado.imagen.url}}" download="" type="button" class="btn btn-primary"> <i class="material-icons">archive</i> imagen</a> -->
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>


      

      {% else %}
      <p>no hay nada</p>
      {%  endif %}
      
      
    </section>

    
  </section>




<!-- CONSTRUCCIONS DE MODAL PARA SUBIR ARCHIVOS -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
            <h4 class="modal-title titulo_modal" id="myLargeModalLabel">Subir comunicado</h4>
         
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
      </div>

      <div id="datos_modal" class="modal-body">

       
        <form role="form" action="/subir_documentos/" method="POST">
          {% csrf_token %}

          <div class="form-group">
            <label for="ejemplo_email_1">Titulo</label>
            <input type="text" class="form-control" placeholder="Título del comunicado" name="titulo">
          </div>
          <div class="form-group">
            <label for="ejemplo_email_1">Descripción</label>
            <textarea type="text" class="form-control" placeholder="Descripción" name="descripcion"></textarea>
          </div>

          <div class="form-group">
            <label for="ejemplo_email_1">Link</label>
            <input type="text" class="form-control" placeholder="Link" name="link">
          </div>
  
          <div class="form-group">
            <label for="ejemplo_email_1">Imagen</label>
            <input type="file" name="imagen">
          </div>

          <div class="form-group">
            <label for="ejemplo_email_1">Documento</label>
            <input type="file" name="documento">
          </div>

          <div class="form-group">
            <label for="ejemplo_email_1">Enviar a: </label> <br>
           
              {% for usu in all_user %}
              {% if usu.tipo == "Jefactura ISC" %}
              <p></p>
              {% else %}
              <input name="usuario" value="{{usu.tipo}}" type="checkbox" class="form-check-input"> {{usu.tipo}} <br>
              {% endif %}
              {% endfor %}
             
            
          </div>
         
          <button type="submit" class="btn btn-primary">Subir</button>
        </form>

       
      </div>

    </div>
  </div>
 </div> 
 <!--Aqui termina el modal -->

 


{% endblock %}